<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
	</head>
	<body>
		<div class=page>
  			<h1>Stock Request</h1>
  			<div class=metanav>

    			<h4>Please enter a stock ticker symbol (e.g. GOOG), and check the price type.</h4>

    			<form id='input' method='post' action='/submit'>	
	  			<p>
					Ticker symbol: <input type='text' name='ticker' value="GOOG">
	  			</p>
	  			<p>
					<input type="radio" name='features' value='Open'>Opening price<br>
					<input type="radio" name='features' value='High'>High price<br>
					<input type="radio" name='features' value='Close' checked>Closing price<br>
					<input type="radio" name='features' value='Adj. Close'>Adjusted closing price<br>
				</p>
				<p>
					Start Date (YYYY/MM/DD): <input type='text' name='begin_year' value='2010' size = '3'>
						<input type='text' name='begin_month' value='1' size = '1'>
						<input type='text' name='begin_day' value='1' size = '1'><br>
					End Date (YYYY/MM/DD): &nbsp;&nbsp;<input type='text' name='end_year' value={{y}} size = '3'>
						<input type='text' name='end_month' value={{m}} size = '1'>
						<input type='text' name='end_day' value={{d}} size = '1'><br>
						
				</p>
				<p>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>

  			</div>
		</div>
	</body>
</html>
